<div class="navbar-container">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/img/xinmei-logo.png" class="xinmei-logo" alt="">
        </a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right authentication-list">
          <li><a href="/register">注册</a></li>
          <li><a href="/login">登录</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-list">
          <li><a href="/wordsmanage">词团管理</a></li>
          <li><a href="/searchwordsmanage">搜索词管理</a></li>
          <li><a href="/user" class="user"></a></li>
          <li><a href="/logout">退出</a></li>
        </ul>
        <div class="navbar-form navbar-right search-field">
          <div class="form-group">
            <input type="text" id="searchval" class="form-control" name="searchval" placeholder="搜公司">
          </div>
          <button type="button" id="search-btn" class="btn btn-default">搜索</button>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="progress search-progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
  <div class="col-lg-12 panel panel-default search-result" id="search-result">
    <button type="button" id="close-search-btn" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="search-list">
      {{!-- pull results here --}}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="qydatamodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">抓取数据选项</h4>
        </div>
        <div class="modal-body">
          {{!-- <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">分析深度</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputdeep" placeholder="3">
            </div>
          </div> --}}
          <div class="progress loaddata-progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <div id="modal-result">
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="beginload-btn">开始</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="articledatamodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">搜索规则</h4>
        </div>
        <div class="modal-body">
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value='allmatch' checked>
              完全匹配企业名称
            </label>
            {{!-- <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder='例如: "中新恒超实业有限公司"'>
            </div> --}}
          </div>
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="exclude">
              排除
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder="例如: 中新恒超实业有限公司 -招聘">
            </div>
          </div>
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="widematch">
              通配
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder="例如: 中新*公司">
            </div>
          </div>
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios4" value="intitle">
              标题包含
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder="例如: intitle:中新恒超实业有限公司">
            </div>
          </div>
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios5" value="allintitle">
              标题包含多组关键字
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder="例如: allintitle:中新恒超实业有限公司 招聘">
            </div>
          </div>
          <div class="radio">
            <label class="col-sm-3">
              <input type="radio" name="optionsRadios" id="optionsRadios6" value="keywords">
              多组关键字
            </label>
            <div class="col-sm-9">
              <input type="text" class="form-control searchval" id="inputdeep" placeholder="例如: 中新恒超实业有限公司 招聘">
            </div>
          </div>

          <div class="progress loaddata-progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <div id="search-doc">
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="beginsearch-btn">开始</button>
        </div>
      </div>
    </div>
  </div>
</div>
