<div class="auth-wrapper">
  <div class="alert alert-placeholder"></div>
  <div class="auth-body">
    <h1 class="sr-only">登录</h1>
    <div class="auth-box">
      <div class="auth-box-col">
        <a href="/" class="auth-logo">
	        <img src="/img/xinmei-logo.jpg" alt="">
        </a>
      </div>
      <div class="auth-box-col">
        <form method="post" action="/login" novalidate="" class="auth-form">
          <input type="hidden" name="_csrf" value="Ch20ZuE57aWthOveSRHQhy0d/jfKQ2pckGWbA=">
          <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="pass">密码</label>
            <input type="password" name="pass" id="pass" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">登录</button>
          <a href="/cms/regist">注册</a>
        </form>
      </div>
    </div>
  </div>
</div>
