<div class="auth-wrapper">
  <div class="alert alert-placeholder"></div>
  <div class="auth-body">
    <h1 class="sr-only">登录</h1>
    <div class="auth-box">
      <div class="auth-box-col">
        {{!-- <div class="auth-box-brand"><a href="/" class="auth-box-logo"><img src="/keystone/images/logo.png" width="205" height="68" alt="itlearning"></a>
        </div> --}}
        <a href="/" class="auth-logo">
	        <img src="/img/xinmei-logo.jpg" alt="">
        </a>
      </div>
      <div class="auth-box-col">
        <form method="post" action="/regist" novalidate="" class="auth-form">
          <div class="form-group">
            <label for="email">邮箱</label>
            <input type="email" name="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">用户名</label>
            <input type="name" name="name" id="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="pass">密码</label>
            <input type="password" name="pass" id="pass" class="form-control">
          </div>
          <div class="form-group">
            <label for="repass">重复密码</label>
            <input type="password" name="repass" id="repass" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">注册</button>
        </form>
      </div>
    </div>
  </div>
</div>