{{> navbar }}

<div class="container">
	{{!-- 添加用户上传文件按钮 --}}
	<form action="/user/fileupload" id="upload" method="post" enctype="multipart/form-data">
		<input type="file" name="uploadctl">
		<input type='submit'>
		<ul id="fileList">
			
		</ul>
	</form>

</div>

<script src="/js/user.js"></script>
