<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>信美项目DEMO</title>
  {{!-- include components css --}}
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">
  {{!-- end include --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/coverbootstrap.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/enterprisetree.css">
  <link rel="stylesheet" href="/css/industrychart.css">
  <link rel="stylesheet" href="/css/authentication.css">
  <link rel="stylesheet" href="/css/wordsmanage.css">
  <link rel="stylesheet" href="/css/searchwords.css">
  <link rel="stylesheet" href="/css/auth.min.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  {{!-- include components scripts --}}
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/handlebars/handlebars.min.js"></script>
  <script src="/components/d3/d3.min.js"></script>
  <script src="/components/jquery-cookie/jquery.cookie.js"></script>
  <script src="/components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/components/jquery-file-upload/js/jquery.fileupload.js"></script>
  {{!-- end include --}}
  {{!-- include handlebars templates in public templates and compile into one file --}}
  <script src="/js/hbshelper.js"></script>
  <script type='text/javascript' src='/js/templates.js'></script>
  {{!-- end include --}}
</head>
<body>

  {{> navbar }}

  {{{body}}}


</body>
  {{!-- include public scripts --}}
  <script src="/js/navbar.js"></script>
  {{!-- end include --}}
</html>
